.alternative {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.alternative .typography-button {
  font-family: var(--button-alternative-font-family);
  font-size: var(--button-alternative-font-size);
  font-style: var(--button-alternative-font-style);
  font-weight: var(--button-alternative-font-weight);
  letter-spacing: var(--button-alternative-letter-spacing);
  line-height: var(--button-alternative-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.alternative.default {
  height: 20px;
}

.alternative.default .typography-button {
  color: var(--filltextbuttonalternative-default);
}

.alternative.pressed .typography-button {
  color: var(--filltextbuttonalternative-pressed);
}
