.button-alternative {
  align-items: center;
  border-radius: 20px;
  display: inline-flex;
  flex-direction: column;
  height: 24px;
  justify-content: center;
  padding: 2px 8px;
  position: relative;
}

.button-alternative .min-width {
  height: 1px;
  margin-left: -2174px;
  object-fit: cover;
  position: relative;
  width: 104px;
}

.button-alternative.active {
  background: linear-gradient(180deg, rgb(1, 235, 191) 0%, rgb(1, 246, 133) 100%);
}

.button-alternative.pressed {
  background: linear-gradient(180deg, rgb(0, 199, 161) 0%, rgb(0, 222, 143) 100%, rgb(0, 202, 109) 100%);
}

.button-alternative.active .min-width {
  margin-bottom: -28px;
}

.button-alternative.pressed .min-width {
  margin-top: -57px;
}
